<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Colors</title>
        <link rel="stylesheet" href="stylesheets/base.css">
        <link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <script src='lib/jquery.js'></script>
        <script src='src/scripts.js'></script>
        <link href='http://fonts.googleapis.com/css?family=Arvo:700italic|Raleway:500' rel='stylesheet' type='text/css'>    </head>
    <body>
        <div class="container">

            <div class="header sixteen columns">
                <h1>Palettr</h1>
                <button class="button palette-button two columns">Palettes</button>
            </div>
            
            <div class="palette-grid sixteen columns"></div>
            
        </div>
    </body>
</html>